## Aggregating Data

Now that you know how to transform your data, you'll want to know more about how to aggregate your data to make it more interpretable. You'll learn a number of functions you can use to take many observations in your data and summarize them, including count, group_by, summarize, ungroup, and top_n.

### Counting by region  
The counties dataset contains columns for region, 
state, population, and the number of citizens, which we 
selected and saved as the counties_selected table. 
In this exercise, you'll focus on the region column.

In [5]:
counties_selected <- counties %>%
  select(region, state, population, citizens)

# Use count() to find the number of counties in each region, 
# using a second argument to sort in descending order.
counties_selected %>%
count(region, sort = TRUE)

# Counting citizens by state
# You can weigh your count by particular variables rather 
# than finding the number of counties. In this case, you'll 
# find the number of citizens in each state.

# Count the number of counties in each state, weighted based 
# on the citizens column, and sorted in descending order.

counties_selected %>%
count(state, wt = citizens, sort = TRUE)

  region        n
1 South         1420
2 North Central 1054
3 West           447
4 Northeast      217

   state          n
1  California     24280349
2  Texas          16864864
3  Florida        13933052
4  New York       13531404
5  Pennsylvania    9710416
6  Illinois        8979999
7  Ohio            8709050
8  Michigan        7380136
9  North Carolina  7107998
10 Georgia         6978660
11 New Jersey      6053893
12 Virginia        5948625
13 Washington      4937212
14 Massachusetts   4850598
15 Tennessee       4828366
16 Indiana         4801113
17 Arizona         4526594
18 Missouri        4525035
19 Wisconsin       4294321
20 Maryland        4182241
21 Minnesota       3950807
22 Colorado        3750953
23 Alabama         3620994
24 South Carolina  3566508
25 Louisiana       3410634
26 Kentucky        3297108
27 Oregon          2867670
28 Oklahoma        2768561
29 Connecticut     2574178
30 Iowa            2285126
31 Mississippi     2210424
32 Arkansas        2164083
33 Kansas          2053919
34 Utah            1868008
35 Nevada          1863799
36 New Mexico      1457632
37 West Virginia   1455848
38 Nebraska        1333860
39 Idaho           1130550
40 Maine           1048274
41 New Hampshire   1020130
42 Hawaii          1001729
43 Montana          781250
44 Rhode Island     776565
45 Delaware         681606
46 South Dakota     612867
47 North Dakota     546486
48 Alaska           519266
49 Vermont          493124
50 Wyoming          430026

### Mutating and counting
You can combine multiple verbs together to answer 
increasingly complicated questions of your data. 
For example: "What are the US states where the most people 
walk to work?"
You'll use the walk column, which offers a percentage of 
people in each county that walk to work, to add a new column 
and count based on it.
Use mutate() to calculate and add a column called 
population_walk, containing the total number of people 
who walk to work in a county.
Use a (weighted and sorted) count() to find the 
total number of people who walk to work in each state

In [6]:
counties_selected <- counties %>%
  select(region, state, population, walk)

counties_selected %>%
  # Add population_walk containing the total number of people who walk to work 
 mutate(population_walk = walk * population /100) %>%
  # Count weighted by the new column
 count(state, wt = population_walk , sort = TRUE)

   state          n
1  New York       1237938.17
2  California     1017963.68
3  Pennsylvania    505397.19
4  Texas           430783.43
5  Illinois        400345.60
6  Massachusetts   316765.03
7  Florida         284722.87
8  New Jersey      273047.19
9  Ohio            266910.98
10 Washington      239764.32
11 Michigan        218555.26
12 Wisconsin       190405.65
13 Virginia        189785.38
14 North Carolina  174886.80
15 Georgia         158961.85
16 Oregon          158401.83
17 Colorado        156067.67
18 Minnesota       154275.49
19 Maryland        146489.35
20 Arizona         139854.32
21 Indiana         137587.55
22 Missouri        119358.22
23 Connecticut     108348.18
24 Iowa            108177.69
25 South Carolina  103450.22
26 Kentucky        101761.91
27 Louisiana        87785.96
28 Tennessee        85869.12
29 Utah             74593.11
30 Oklahoma         68707.91
31 Kansas           68252.54
32 Hawaii           63123.57
33 Nevada           61084.79
34 Alaska           56672.53
35 Alabama          54167.37
36 Nebraska         53082.82
37 Maine            52921.92
38 Arkansas         52499.64
39 West Virginia    51493.53
40 Montana          49894.82
41 Idaho            48935.74
42 New Mexico       47030.15
43 Mississippi      45874.36
44 Rhode Island     39368.18
45 New Hampshire    38290.99
46 Vermont          35655.86
47 South Dakota     33351.02
48 North Dakota     28780.16
49 Wyoming          21981.33
50 Delaware         20084.09

### Summarizing
The summarize() verb is very useful for collapsing a 
large dataset into a single observation.
Summarize the counties dataset to find the following columns: 
min_population (with the smallest population), 
max_unemployment (with the maximum unemployment), 
and average_income (with the mean of the income variable).

In [7]:
counties_selected <- counties %>%
  select(county, population, income, unemployment)

# Summarize to find minimum population, maximum unemployment, and average income
counties_selected %>%
summarize(min_population = min(population),
max_unemployment = max(unemployment),
average_income = mean(income))

  min_population max_unemployment average_income
1 85             29.4             46832

### Summarizing by state
Another interesting column is land_area, which shows 
the land area in square miles. Here, you'll summarize both 
population and land area by state, with the purpose of finding 
the density (in people per square miles).

In [9]:
counties_selected <- counties %>%
  select(state, county, population, land_area)

# Group the data by state, and summarize to create the columns 
# total_area (with total area in square miles) and 
# total_population (with total population).

counties_selected %>%
    group_by(state) %>%
    summarize(total_area = sum(land_area), 
              total_population = sum(population))

# Add a density column with the people per square mile, 
# then arrange in descending order.
counties_selected %>%
  group_by(state) %>%
  summarize(total_area = sum(land_area),
            total_population = sum(population)) %>%
  mutate(density = total_population / total_area) %>%
  arrange(desc(density))

`summarise()` ungrouping output (override with `.groups` argument)

   state          total_area total_population
1  Alabama         50645.39   4830620
2  Alaska         553559.51    725461
3  Arizona        113594.09   6641928
4  Arkansas        52035.48   2958208
5  California     155779.21  38421464
6  Colorado       103641.93   5278906
7  Connecticut      4842.36   3593222
8  Delaware         1948.55    926454
9  Florida         53624.78  19645772
10 Georgia         57513.54  10006693
11 Hawaii           6422.63   1406299
12 Idaho           82643.19   1616547
13 Illinois        55519.02  12873761
14 Indiana         35826.16   6568645
15 Iowa            55857.19   3093526
16 Kansas          81758.76   2892987
17 Kentucky        39486.38   4397353
18 Louisiana       43203.93   4625253
19 Maine           30842.92   1329100
20 Maryland         9707.23   5930538
21 Massachusetts    7800.08   6705586
22 Michigan        56538.92   9900571
23 Minnesota       79626.79   5419171
24 Mississippi     46923.29   2988081
25 Missouri        68741.54   6045448
26 Montana        145545.84   1014699
27 Nebraska        76824.22   1869365
28 Nevada         109781.18   2798636
29 New Hampshire    8952.66   1324201
30 New Jersey       7354.22   8904413
31 New Mexico     121298.17   2084117
32 New York        47126.43  19673174
33 North Carolina  48618.01   9845333
34 North Dakota    69000.81    721640
35 Ohio            40860.73  11575977
36 Oklahoma        68594.99   3849733
37 Oregon          95988.05   3939233
38 Pennsylvania    44742.71  12779559
39 Rhode Island     1033.82   1053661
40 South Carolina  30060.72   4777576
41 South Dakota    73717.14    829037
42 Tennessee       41235.00   6499615
43 Texas          260562.87  26538497
44 Utah            82169.62   2903379
45 Vermont          9216.67    626604
46 Virginia        39483.32   8256630
47 Washington      66455.55   6985464
48 West Virginia   24038.21   1851420
49 Wisconsin       54157.87   5742117
50 Wyoming         97093.14    579679

`summarise()` ungrouping output (override with `.groups` argument)

   state          total_area total_population density
1  New Jersey       7354.22   8904413         1210.789587
2  Rhode Island     1033.82   1053661         1019.191929
3  Massachusetts    7800.08   6705586          859.681696
4  Connecticut      4842.36   3593222          742.039419
5  Maryland         9707.23   5930538          610.940299
6  Delaware         1948.55    926454          475.458161
7  New York        47126.43  19673174          417.455216
8  Florida         53624.78  19645772          366.356226
9  Pennsylvania    44742.71  12779559          285.623267
10 Ohio            40860.73  11575977          283.303235
11 California     155779.21  38421464          246.640511
12 Illinois        55519.02  12873761          231.880192
13 Hawaii           6422.63   1406299          218.959990
14 Virginia        39483.32   8256630          209.116913
15 North Carolina  48618.01   9845333          202.503825
16 Indiana         35826.16   6568645          183.347727
17 Michigan        56538.92   9900571          175.110720
18 Georgia         57513.54  10006693          173.988473
19 South Carolina  30060.72   4777576          158.930857
20 Tennessee       41235.00   6499615          157.623742
21 New Hampshire    8952.66   1324201          147.911459
22 Kentucky        39486.38   4397353          111.363792
23 Louisiana       43203.93   4625253          107.056303
24 Wisconsin       54157.87   5742117          106.025532
25 Washington      66455.55   6985464          105.114832
26 Texas          260562.87  26538497          101.850647
27 Alabama         50645.39   4830620           95.381238
28 Missouri        68741.54   6045448           87.944611
29 West Virginia   24038.21   1851420           77.019878
30 Minnesota       79626.79   5419171           68.057133
31 Vermont          9216.67    626604           67.985943
32 Mississippi     46923.29   2988081           63.680126
33 Arizona        113594.09   6641928           58.470718
34 Arkansas        52035.48   2958208           56.849826
35 Oklahoma        68594.99   3849733           56.122656
36 Iowa            55857.19   3093526           55.382772
37 Colorado       103641.93   5278906           50.934077
38 Maine           30842.92   1329100           43.092548
39 Oregon          95988.05   3939233           41.038786
40 Kansas          81758.76   2892987           35.384429
41 Utah            82169.62   2903379           35.333971
42 Nevada         109781.18   2798636           25.492858
43 Nebraska        76824.22   1869365           24.333016
44 Idaho           82643.19   1616547           19.560559
45 New Mexico     121298.17   2084117           17.181768
46 South Dakota    73717.14    829037           11.246191
47 North Dakota    69000.81    721640           10.458428
48 Montana        145545.84   1014699            6.971680
49 Wyoming         97093.14    579679            5.970339
50 Alaska         553559.51    725461            1.310538

### Summarizing by state and region
You can group by multiple columns instead of grouping by one.
Here, you'll practice aggregating by state and region, 
and notice how useful it is for performing multiple aggregations 
in a row.
Summarize to find the total population, as a column called 
total_pop, in each combination of region and state.

In [12]:
counties_selected <- counties %>%
  select(region, state, county, population)

counties_selected %>%
    group_by(region, state) %>%
    summarize(total_pop = sum(population))

`summarise()` regrouping output by 'region' (override with `.groups` argument)

   region        state          total_pop
1  North Central Illinois       12873761
2  North Central Indiana         6568645
3  North Central Iowa            3093526
4  North Central Kansas          2892987
5  North Central Michigan        9900571
6  North Central Minnesota       5419171
7  North Central Missouri        6045448
8  North Central Nebraska        1869365
9  North Central North Dakota     721640
10 North Central Ohio           11575977
11 North Central South Dakota     829037
12 North Central Wisconsin       5742117
13 Northeast     Connecticut     3593222
14 Northeast     Maine           1329100
15 Northeast     Massachusetts   6705586
16 Northeast     New Hampshire   1324201
17 Northeast     New Jersey      8904413
18 Northeast     New York       19673174
19 Northeast     Pennsylvania   12779559
20 Northeast     Rhode Island    1053661
21 Northeast     Vermont          626604
22 South         Alabama         4830620
23 South         Arkansas        2958208
24 South         Delaware         926454
25 South         Florida        19645772
26 South         Georgia        10006693
27 South         Kentucky        4397353
28 South         Louisiana       4625253
29 South         Maryland        5930538
30 South         Mississippi     2988081
31 South         North Carolina  9845333
32 South         Oklahoma        3849733
33 South         South Carolina  4777576
34 South         Tennessee       6499615
35 South         Texas          26538497
36 South         Virginia        8256630
37 South         West Virginia   1851420
38 West          Alaska           725461
39 West          Arizona         6641928
40 West          California     38421464
41 West          Colorado        5278906
42 West          Hawaii          1406299
43 West          Idaho           1616547
44 West          Montana         1014699
45 West          Nevada          2798636
46 West          New Mexico      2084117
47 West          Oregon          3939233
48 West          Utah            2903379
49 West          Washington      6985464
50 West          Wyoming          579679

In [13]:
# Notice the tibble is still grouped by region; 
# use another summarize() step to calculate two new columns: 
# the average state population in each region (average_pop) and 
#the median state population in each region (median_pop).

counties_selected %>%
  group_by(region, state) %>%
  summarize(total_pop = sum(population)) %>%
  summarize(average_pop = mean(total_pop),
            median_pop = median(total_pop))

`summarise()` regrouping output by 'region' (override with `.groups` argument)
`summarise()` ungrouping output (override with `.groups` argument)

  region        average_pop median_pop
1 North Central 5627687     5580644
2 Northeast     6221058     3593222
3 South         7370486     4804098
4 West          5722755     2798636

### Selecting a county from each region
Previously, you used the walk column, which offers 
a percentage of people in each county that walk to work, 
to add a new column and count to find the total number
of people who walk to work in each county.
Now, you're interested in finding the county within each region
with the highest percentage of citizens who walk to work.

In [15]:
counties_selected <- counties %>%
  select(region, state, county, metro, population, walk)
# Group by region and find the greatest number of citizens who walk to work
counties_selected %>%
group_by(region) %>%
top_n(1, walk)

  region        state        county                 metro    population walk
1 West          Alaska       Aleutians East Borough Nonmetro    3304    71.2
2 Northeast     New York     New York               Metro    1629507    20.7
3 North Central North Dakota McIntosh               Nonmetro    2759    17.5
4 South         Virginia     Lexington city         Nonmetro    7071    31.7

### Finding the highest-income state in each region
You've been learning to combine multiple dplyr verbs together.
Here, you'll combine group_by(), summarize(), and top_n() to 
find the state in each region with the highest income.
When you group by multiple columns and then summarize, 
it's important to remember that the summarize "peels off" 
one of the groups, but leaves the rest on. 
For example, if you group_by(X, Y) then summarize, 
the result will still be grouped by X.

In [16]:
counties_selected <- counties %>%
  select(region, state, county, population, income)

# Find the highest income state in each region.
counties_selected %>%
  group_by(region, state) %>%
  # Calculate average income
  summarize(average_income = mean(income))%>%
  # Find the highest income state in each region
  top_n(1, average_income)

`summarise()` regrouping output by 'region' (override with `.groups` argument)

  region        state        average_income
1 North Central North Dakota 55574.87
2 Northeast     New Jersey   73014.10
3 South         Maryland     69200.38
4 West          Alaska       65124.54

### Using summarize, top_n, and count together
In this chapter, you've learned to use five dplyr verbs 
related to aggregation: count(), group_by(), summarize(), 
ungroup(), and top_n(). In this exercise, you'll use all 
of them to answer a question: In how many states do more 
people live in metro areas than non-metro areas?

In [19]:
counties_selected <- counties %>%
  select(state, metro, population)
# Find the total population for each combination of state 
# and metro
counties_selected %>%
group_by(state, metro) %>%
summarize(total_pop = sum(population)) %>%
# Extract the most populated row for each state
top_n(1,total_pop)

`summarise()` regrouping output by 'state' (override with `.groups` argument)

   state          metro    total_pop
1  Alabama        Metro     3671377
2  Alaska         Metro      494990
3  Arizona        Metro     6295145
4  Arkansas       Metro     1806867
5  California     Metro    37587429
6  Colorado       Metro     4590896
7  Connecticut    Metro     3406918
8  Delaware       Metro      926454
9  Florida        Metro    18941821
10 Georgia        Metro     8233886
11 Hawaii         Metro     1145126
12 Idaho          Metro     1069978
13 Illinois       Metro    11368647
14 Indiana        Metro     5095864
15 Iowa           Metro     1804496
16 Kansas         Metro     1941587
17 Kentucky       Metro     2558548
18 Louisiana      Metro     3856617
19 Maine          Metro      781723
20 Maryland       Metro     5777808
21 Massachusetts  Metro     6606838
22 Michigan       Metro     8095885
23 Minnesota      Metro     4180337
24 Mississippi    Nonmetro  1628768
25 Missouri       Metro     4490148
26 Montana        Nonmetro   655927
27 Nebraska       Metro     1199134
28 Nevada         Metro     2529002
29 New Hampshire  Metro      828251
30 New Jersey     Metro     8904413
31 New Mexico     Metro     1388935
32 New York       Metro    18267314
33 North Carolina Metro     7639992
34 North Dakota   Nonmetro   366754
35 Ohio           Metro     9198923
36 Oklahoma       Metro     2504090
37 Oregon         Metro     3286017
38 Pennsylvania   Metro    11285024
39 Rhode Island   Metro     1053661
40 South Carolina Metro     4023755
41 South Dakota   Nonmetro   430604
42 Tennessee      Metro     5007264
43 Texas          Metro    23510680
44 Utah           Metro     2591224
45 Vermont        Nonmetro   411523
46 Virginia       Metro     7195353
47 Washington     Metro     6272805
48 West Virginia  Metro     1137523
49 Wisconsin      Metro     4237349
50 Wyoming        Nonmetro   404237

In [20]:
# Ungroup, then count how often Metro or Nonmetro appears 
# to see how many states have more people living in those areas.

# Count the states with more people in Metro or Nonmetro areas
counties_selected %>%
  group_by(state, metro) %>%
  summarize(total_pop = sum(population)) %>%
  top_n(1, total_pop) %>%
  ungroup() %>% 
  count(metro)

`summarise()` regrouping output by 'state' (override with `.groups` argument)

  metro    n
1 Metro    44
2 Nonmetro  6